html
  title Post Emergency Page
  style 
    include style.css
  head
    include navbar.pug
  body()
    h1() Post Emergency
    each job in jobs
      table()
        tr()
          th() ID
          th() Success 
          th() IP 
          th() Status 
          th() Output
          th() Completed
        each jobDetails in job.details
          tr()
            th()=job.jobId
            th()=jobDetails.success
            th()=jobDetails.ip
            th()=jobDetails.message
            th()=jobDetails.output
            th()=job.hasFinished





