html
  title Jobs
  style 
    include style.css
  body.atv-background
    include components/navbar.pug
    p.atv-title Jobs
    each job in jobs
      table.atv-table
        tr.atv-table-title
          th.atv-table-title ID
          th.atv-table-title Success 
          th.atv-table-title IP 
          th.atv-table-title Status 
          th.atv-table-title Output
          th.atv-table-title Completed
        each jobDetails in job.details
          tr.atv-table-title
            th.atv-table-item=job.jobId
            th.atv-table-item=jobDetails.success
            th.atv-table-item=jobDetails.ip
            th.atv-table-item=jobDetails.message
            th.atv-table-item=jobDetails.output
            th.atv-table-item=job.hasFinished
    include components/footer.pug