html
  head
    title Create Job
    style 
      include ../style.css
    script 
      include ../../scripts/jobs.js
  body.atv-background
    include ../components/navbar.pug
    p.atv-title Create Job
    form.atv-form(action="/jobs" method="POST") 
      div.create-job
        div.create-job__input
          label Name 
          input.atv-input-field(type='text' name='name')
        div.create-job__input
          label Task
          select.atv-input-field(type='text' name='task')
            option(value='' disabled selected hidden)='Select main task' 
            each task in tasks 
              option(value= task)=task
        div.create-job__input
          label On success?
          select.atv-input-field(type='text' name='onSuccess')
            option(value='' disabled selected hidden)='Optional on success handler' 
            each task in tasks 
              option(value= task)=task
        div.create-job__input
          label On error?
          select.atv-input-field(type='text' name='onError')
            option(value='' disabled selected hidden)='Optional on error handler' 
            each task in tasks 
              option(value= task)=task
        div.create-job__button-container
          button.atv-button(type='submit' id='submit-btn') Create & Run
        p.atv-title Devices
        div.atv-table-container
          table.atv-table
            tr.atv-table-title
              th.atv-table-title Serial 
              th.atv-table-title Name
              th.atv-table-title Status
              th.atv-table-title
                input(type='checkbox' id='select-all')
            each device in devices
              tr.atv-table-title 
                th.atv-table-item=device.serial
                th.atv-table-item=device.name
                th(class= device.state === 'online' ? 'atv-table-item' : 'atv-table-item atv-table-item__highlight-red')= device.state
                th.atv-table-item
                  input(type='checkbox' name=`serial-${device.serial}` class='select-device')
    include ../components/footer.pug