html
  head
    title Job
    style 
      include ../style.css
  body.atv-background
    include ../components/navbar.pug
    p.atv-title Job
    div
      table.atv-table
        tr.atv-table-title
          th.atv-table-title Id
          th.atv-table-title Name
          th.atv-table-title Started
          th.atv-table-title Finished
        tr.atv-table-title
          th.atv-table-item=job.jobId
          th.atv-table-item=job.name
          th.atv-table-item=job.started
          th.atv-table-item=job.finished
    p.atv-title Status
    div
      table.atv-table
        tr.atv-table-title
          th.atv-table-title Serial
          th.atv-table-title Success 
          th.atv-table-title Error
          th.atv-table-title Details
        each statusEntry in job.status
          tr.atv-table-title
            th.atv-table-item=statusEntry.serial
            th(class= statusEntry.success ? 'atv-table-item' : 'atv-table-item atv-table-item__highlight-red')= statusEntry.success
            th.atv-table-item=statusEntry.message
            th.atv-table-item
              if statusEntry.task.length
                table.atv-subtable
                  each taskEntry in statusEntry.task 
                    tr
                      th=taskEntry.cmd 
                      th=taskEntry.output
    include ../components/footer.pug